/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: url("./Image/Cursor/1111.png"), auto;
}

a {
  cursor: url("./Image/Cursor/11111.png"), auto;
}

button {
  cursor: url("./Image/Cursor/11111.png"), auto;
}

add scrollbar .window {
  overflow: auto;
  border-radius: 5px 0 0 5px;
}

::-webkit-scrollbar {
  /* background-color: dodgerblue; */
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: crimson;
}

/* .wapper > img {
  max-width: 200%;
} */

.item {
  /* cursor: pointer; */
  cursor: url("./Image/Cursor/cursor-zoom.png"), auto;
}

.item:hover,
.item:focus {
  transform: scale(1.1);
}

.svg-inline--fa {
  width: 30px;
  height: 30px;
}

.sliderWrqp {
  position: fixed;
  /* inset: 0; */
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  z-index: 700;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.sliderWrqp .btnClose,
.sliderWrqp .btnPrev,
.sliderWrqp .btnNext {
  position: fixed;
  /* cursor: pointer; */
  cursor: url("./Image/Cursor/rtrtr\ \(1\).png"), auto;
  opacity: 0.6;
  color: #fff;
  z-index: 999;
}

.btnClose:hover,
.btnNext:hover,
.btnPrev:hover {
  opacity: 1;
}

.sliderWrqp .btnClose {
  top: 40px;
  right: 40px;
}

.sliderWrqp .btnPrev {
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}

.sliderWrqp .btnNext {
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
}

.fullScreenImage {
  width: calc(90% - 40px);
  height: calc(90% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .fullScreenImage {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.fullScreenImage img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
  user-select: none;
}
